[submodule "ext/cxxopts"]
	path = ext/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "ext/absl"]
	path = ext/absl
	url = https://github.com/abseil/abseil-cpp.git
[submodule "ext/fmt"]
	path = ext/fmt
	url = https://github.com/fmtlib/fmt.git
